* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.nav-buttons a {
    margin-left: 30px;
    color: #ffffff;
    text-decoration: none;
	
}

nav {
    background-color: #1877B7;
    color: #ffffff;
    padding: 10px;
}

nav div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header {
	display: flex;
	justify-content: center;
}

header {
    background-color: #E3E7EA;
}

header section {
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

section {
    width: 55%;
}