* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.nav-buttons a {
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
	
}

nav .nav-styling {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hamburger-menu {
	display: none;
}

.hamburger-menu div {
	width: 3.5rem;
	height: 0.5rem;
	background-color: #ffffff;
	margin: 0.6rem 3rem 0.6rem 0;
}

nav {
    background-color: #1877B7;
    color: #ffffff;
    padding: 10px;
}

header {
	display: flex;
	justify-content: center;
}

header {
    background-color: #E3E7EA;
}

header section {
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

section {
    width: 55%;
}




main {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
	margin-top: 300px;
}

article {
    width: 33%;
    display: flex;
    justify-content: center;
}

article section {
    width: 70%;
    text-align: center;
}

img {
    width: 150px;
}

@media screen and (max-width: 850px) {
    article {
        width: 50%;
    }
	
	.hamburger-menu {
		display: block;
	}
	
	nav .hidden-mobile {
		display: none;
	}
}

@media screen and (max-width: 600px) {
    article {
        width: 100%;
    }
}



.socials ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	color: black;
	margin-top: 300px;
}




